<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>MercadoLiebre | Welcome</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/parakeet/48/000000/experimental-internet-parakeet.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/52073693b6.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="logoprincipal">
            <img class="centrado" src="images/logo-mercado-liebre.svg" alt="LogoMercadoLiebre" width="200"><br>
        </div>

        <div class="barrabusqueda">
            <input type="text" id="name" name="name" required minlength="1" maxlength="15" size="30" placeholder="Buscar productos, marcas...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button><br>
        </div>
        
        <h2 class="encabezado"><b><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito!</b></h2>

        <nav class="navbar"><ul>
            <li type="circle">Ofertas</li>
            <li type="circle">Tiendas Oficiales</li>
            <li type="circle">Vender</li>
            <li type="circle">Ayuda</li><br>

            <li type="circle">Creá tu cuenta <i class="fa-solid fa-user-plus"></i></i></li>
            <li type="circle">Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
            <li type="circle">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></i></li>
        </ul></nav><br>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>

    </header>
    <img class="banner" src="images/img-home-banner.jpg" alt="Banner">
    <main>
        <section>
                <h4 class="subtitulo">Basado en tu última visita</h4>

            <article class="art">
                <img src="images/img-cafetera-moulinex.jpg" alt="CafeteraMoulinex" width="200">
                <div class="art1">
                    <p><div class="precio">$6.770  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">40% OFF<br></div>
                    <b>Cafetera Moulinex</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Cafetera de filtro.</li>
                            <li>Funcionamiento: semi automático.</li>
                            <li>Su capacidad es de 600 mL.</li>
                            <li>Tiene filtro permanente.</li>
                            <li>Su estructura es de plástico.</li>
                            <li>Permite llenar 8 tazas.</li>
                            <li>Potencia de 650 W.</li>
                            <li>Con dispositivo de antigoteo.</li>
                            <li>Modo de uso muy sencillo e intuitivo.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBookPro2019" width="200">
                <div class="art2">
                    <p><div class="precio">$230.000  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">20% OFF<br></div>
                    <b>MacBook Pro 2019</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Chip M1 de Apple que permite un gran avance en el rendimiento de la CPU, GPU y aprendizaje automático.</li>
                            <li>La mayor duración de batería en un Mac: hasta 20 horas para que puedas hacer mucho más (2).</li>
                            <li>GPU de 8 núcleos con gráficos hasta 5 veces más veloces para apps y juegos con gráficos avanzados (1).</li>
                            <li>Neural Engine de 16 núcleos para un aprendizaje automático avanzado.</li>
                            <li>8 GB de memoria unificada para que todo sea más rápido y fluido.</li>
                            <li>Almacenamiento SSD superrápido para abrir apps y archivos al instante.</li>
                            <li>Dos puertos Thunderbolt/USB 4 para cargar y conectar accesorios.</li>
                            <li>macOS con un diseño impactante e intuitivo, que funciona a la perfección con tu iPhone.</li>
                            <li>Disponible en color plata y gris espacial.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxyS10" width="200">
                <div class="art3">
                    <p><div class="precio">$70.500  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">10% OFF<br></div>
                    <b>Samsung Galaxy S10</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Dispositivo liberado para que elijas la compañía telefónica que prefieras.</li>
                            <li>Pantalla PLS de 6.6".</li>
                            <li>Tiene 4 cámaras traseras de 50Mpx/5Mpx/2Mpx/2Mpx.</li>
                            <li>Cámara delantera de 8Mpx.</li>
                            <li>Procesador Exynos 850 Octa-Core de 2GHz con 4GB de RAM.</li>
                            <li>Batería de 5000mAh.</li>
                            <li>Memoria interna de 128GB.</li>
                            <li>Con reconocimiento facial y sensor de huella dactilar.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung43" width="200">
                <div class="art4">
                    <p><div class="precio">$23.200  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">5% OFF<br></div>
                    <b>SmartTv Samsung 43"</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Su resolución es Full HD.</li>
                            <li>Tecnología HDR para una calidad de imagen mejorada.</li>
                            <li>Modo de sonido: Dolby Digital Plus.</li>
                            <li>Tiene función Screen Share.</li>
                            <li>Control LG Magic Remote no incluido.</li>
                            <li>Sistema operativo Tizen.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

        </section><br>

        <section>
                <h4 class="subtitulo">Ofertas</h4>

            <article class="art">
                <img src="images/img-cafetera-moulinex.jpg" alt="CafeteraMoulinex" width="200">
                <div class="art1">
                    <p><div class="precio">$6.770  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">40% OFF<br></div>
                    <b>Cafetera Moulinex</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Cafetera de filtro.</li>
                            <li>Funcionamiento: semi automático.</li>
                            <li>Su capacidad es de 600 mL.</li>
                            <li>Tiene filtro permanente.</li>
                            <li>Su estructura es de plástico.</li>
                            <li>Permite llenar 8 tazas.</li>
                            <li>Potencia de 650 W.</li>
                            <li>Con dispositivo de antigoteo.</li>
                            <li>Modo de uso muy sencillo e intuitivo.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBookPro2019" width="200">
                <div class="art2">
                    <p><div class="precio">$230.000  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">20% OFF<br></div>
                    <b>MacBook Pro 2019</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Chip M1 de Apple que permite un gran avance en el rendimiento de la CPU, GPU y aprendizaje automático.</li>
                            <li>La mayor duración de batería en un Mac: hasta 20 horas para que puedas hacer mucho más (2).</li>
                            <li>GPU de 8 núcleos con gráficos hasta 5 veces más veloces para apps y juegos con gráficos avanzados (1).</li>
                            <li>Neural Engine de 16 núcleos para un aprendizaje automático avanzado.</li>
                            <li>8 GB de memoria unificada para que todo sea más rápido y fluido.</li>
                            <li>Almacenamiento SSD superrápido para abrir apps y archivos al instante.</li>
                            <li>Dos puertos Thunderbolt/USB 4 para cargar y conectar accesorios.</li>
                            <li>macOS con un diseño impactante e intuitivo, que funciona a la perfección con tu iPhone.</li>
                            <li>Disponible en color plata y gris espacial.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxyS10" width="200">
                <div class="art3">
                    <p><div class="precio">$70.500  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">10% OFF<br></div>
                    <b>Samsung Galaxy S10</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Dispositivo liberado para que elijas la compañía telefónica que prefieras.</li>
                            <li>Pantalla PLS de 6.6".</li>
                            <li>Tiene 4 cámaras traseras de 50Mpx/5Mpx/2Mpx/2Mpx.</li>
                            <li>Cámara delantera de 8Mpx.</li>
                            <li>Procesador Exynos 850 Octa-Core de 2GHz con 4GB de RAM.</li>
                            <li>Batería de 5000mAh.</li>
                            <li>Memoria interna de 128GB.</li>
                            <li>Con reconocimiento facial y sensor de huella dactilar.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

            <article class="art">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTvSamsung43" width="200">
                <div class="art4">
                    <p><div class="precio">$23.200  <i class="fa-sharp fa-solid fa-paper-plane"></i></div>
                    <div class="cuerpo"><div class="descuento">5% OFF<br></div>
                    <b>SmartTv Samsung 43"</b></p></div>
                    <div class="descripcion">
                        <ul>
                            <li>Su resolución es Full HD.</li>
                            <li>Tecnología HDR para una calidad de imagen mejorada.</li>
                            <li>Modo de sonido: Dolby Digital Plus.</li>
                            <li>Tiene función Screen Share.</li>
                            <li>Control LG Magic Remote no incluido.</li>
                            <li>Sistema operativo Tizen.</li>
                        </ul>
                    </div>
                </div>
            </article><br>

        </section><br>

    </main>

    <footer><br>

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</article>
        </section>
        <br>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <article>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</article>
        </section>
        <br>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</article>
        </section>
        <br>
        <section>
            <article class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. <br>
            Por Donnovan Facchini</article>
        </section>

    </footer>

</body>

</html>