/* ---   Reglas generales   --- */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background:#ebebeb;
    font-family: 'Roboto', sans-serif;
}

/* ---   Comienza el HEADER   --- */

header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding:2%;
    width:100%;
    height:28%;
    position:fixed;
    z-index: 1;
    top:0;
}

.cabeza-pagina{
    display:flex;
    flex-wrap: wrap;
}

.logoprincipal{
    margin-top:3vw;
    text-align: left;
    margin-left: 3vw;
    width:40%;
}

.barrabusqueda{
    display:flex;
    flex-wrap:nowrap;
    margin-top:7vw;
    margin-left:8vw;
    margin-bottom: 5vw;
    text-align: right;
    outline:none;
    width:40%
}

.encabezadoDiv{
    justify-content: center;
    width:100%;
    margin-top:5vw;
}

.encabezado{
    text-align:center;
    font-size:14px;
}

.navbar{
    display:none;
}

.burger-menu{
    text-align: center;
}

.fa-bars {
    color:white;
    background:blue;
    padding:10px;
    border-radius:5px;
}

/* ---    Comienza el MAIN   --- */

main{
    width: 90%;
    margin: 0 auto;
}

.banner{
    margin-top:175px;
    align-content: center;
    width:100%;
    height: auto;
}

.productoss{
    margin:10px;
    box-shadow: 0px 0px 10px rgb(100,100,100);

}

.art1, .art2, .art3, .art4{
    border-top:1px solid #ebebeb;
    padding:10px;
    margin-top:1vw #ebebeb;
    background-color: #fff;    
    margin: 10px 0px;
    box-shadow: 0px 0px 3px rgb(100,100,100);
}

.art1:hover, .art2:hover, .art3:hover, .art4:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

.art img{
    width:100%;
}

.descripcion{
    /* display: none; */
    color: #666;
    font-size:15px;
}

.cajaDescripcion{
    height: 1px;
    overflow:hidden;
}
.cajaDescripcion:hover{
    height: 17px;
}

.fa-truck{
    color:green;
    cursor:pointer;
    transition: all 0.5s ease-in;

}
.fa-truck:hover{
    transform: rotateZ(-90deg);
}

.precio-descuento{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.descuento{
    color:green;
    width:70%;

}

.precio{
    width:30%;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

.descuento{
    font-size: 16px;
    font-weight: normal;
}

.main-article{
    position:relative;
    height: 60px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.subtitulo{
    font-size: 24px;
    text-align:left;
    margin-left:2vw;
    color: #5e5e5e;
}

.precio{
    font-size:18px;
}

.cuerpo{
    font-size:16px;
}

.container{
display:flex;
justify-content: center;
}

.buttonContainer{
    display:flex;
    justify-content: center;
}

.button1 {
    border-radius: 4px;
    text-shadow: 1px 1px 15px #adadad;
    font-family: Arial;
    font-size: 13px;
    padding: 5px;
    color:white;
    background:blue;
    border: 0;
    text-decoration: none;
    text-align: center;
    width: 100%;

}

.button1:hover {
    background:#EAC926;
    color:black;
    text-shadow: 1px 1px 15px #adadad;
    text-decoration: none;
}

.centrar{
    display:flex;
    justify-content: center;
}

.column{
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputText{
    border:1px;
    border-color: white;
    border-radius:4px;
    padding:5px;
    width:300px;
}

.labelTextSize{
    font-size: 13px;
}

.rowcomprador{
    display:flex;
    justify-content: space-around;
}

.rowvendedor{
    display:flex;
    justify-content:space-around;
}

.marginLeft{
    margin-left: 15px;
}

/* ---   Comienza el FOOTER   --- */

footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;

}

.footer-sub{
    font-size: 24px;
}

.fa-credit-card{
    font-size:2em;
    margin-top: 10px;
    color:blue;
}

.fa-gift{
    font-size:2em;
    margin-top: 10px;
    color:blue;
}

.fa-user-shield{
    font-size:2em;
    margin-top: 10px;
    color:blue;
}

.copyright{
    text-align:left;
    margin-left:2vw;
    margin-top:3vw;
    font-size:12px;
}
/* ---   Mobile = 360×640   --- */
/* ---   Tablet = 1024x768(iPad)   --- */
/* ---   Desktop = 1336x678   --- */

/* ---   Media Queries for Tablets   --- */

@media (min-width: 361px) {

    .centrado{
        width: 80%;
        height: 80%;

    }

    header{
        padding:0%;
        height: 38%;
        position:absolute
    }

    .banner{
        margin-top:290px;
    }

    .art{
    box-shadow: 0px 0px 10px rgb(100,100,100);
    } 

    .precio-descuento{
        flex-wrap:wrap;
    }

    .descripcion{
        display:block;
    }

    .descuento{
        text-align:right;
    }

    .encabezado{
        font-size:18px;
        margin:10px;
        margin-bottom: 30px;
    }

    .barrabusqueda{
        display:flex;
        justify-content: center;
    }

    .navbar{
        display:flex;
        justify-content: space-between;
        margin:5px;
    }

    .navbar1{
        width:40%;
        display:flex;
        justify-content:space-evenly
    }

    .navbar2{
        width:40%;
        display:flex;
        justify-content:space-evenly
    }

    ul {
        display: flex;
    }

    li {list-style: none;}

    .burger-menu{
        display:none;
    }
    .art1,.art2,.art3,.art4{
        width:45%
    }
    .productos{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .searchButton{
        width:30px;
    }
    
    .searchInput{
        width:300px;
    }
}

/* ---   Media Queries for Desktop   --- */

@media (min-width: 769px){
    .art{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        } 
    .descripcion{
        display:block;
    }

    .centrado{
        width: 80%;
        height: 80%;

    }

    header{
        padding:0%;
        height: 33%;
        position:absolute
    }

    .cabeza-pagina {
        display: flex;
        flex-wrap: nowrap;
    }

    .banner{
        margin-top:200px;
    }

    .descuento{
        text-align:right;
    }

    .logoprincipal{
        width:33,33%
    }

    .encabezado{
        font-size:18px;
        margin:10px;
    }

    .encabezadoDiv{
        justify-content: center;
        width:33,33%;
        margin-top:5vw;
    }

    .barrabusqueda{
        display:flex;
        justify-content: center;
        width:33,33%;
    }

    .navbar{
        display:flex;
        justify-content: space-between;
        margin:5px;
    }

    .navbar1{
        width:40%;
        display:flex;
        justify-content:space-evenly
    }

    .navbar2{
        width:40%;
        display:flex;
        justify-content:space-evenly
    }

    ul {
        display: flex;
    }

    li {list-style: none;}

    .burger-menu{
        display:none;
    }
    .art1,.art2,.art3,.art4{
        width:20%
    }
    .productos{
        display:flex;
        flex-wrap:nowrap;
        justify-content: space-between;
    }

    .searchButton{
        width:30px;
    }
    
    .searchInput{
        width:300px;
    }
}